body{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 100px;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    z-index: 100;
}
.button {
    display: flex;
    justify-content:space-around;
    align-items:center;
    width: 130px;
    height: 130px;
    border: none;
    border-radius: 50%;
    margin: 20px;
    background-color:cornflowerblue;
    color: white;
    font-size: 18px;
    font-weight: 400;
    transition: all cubic-bezier(0.91,-0.33, 0.28, 1.31) 700ms;
}
.button.active {
    background-color: rgb(93, 16, 57);
    font-weight: 600;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
    transform: rotateZ(360deg);
    background-color: rgb(146, 76, 113);
}
.content-container {
    position: absolute;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    flex-direction: column;
    background-color:rgb(21, 13, 146);
    color: white;
    padding: 70px;
    transition: all ease-in-out 700ms;
    opacity: 0;
    transform: scale(5);
}
.content-container.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
    background-color:rgb(93, 16, 57);

}


h1 {
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(-30px);
}
